<div class="detailsBox">
    <div class="detailsInfo">
      <h2>{{moviesData.movies_title}}</h2>
      <h3 class="genre">{{moviesData.movies_genre}}</h3>
      <p class="date">{{moviesData.movies_date}}</p>
      <p>{{moviesData.movies_likes}} Likes</p>
    </div>
    <img class="detailsCover" src="../images/{{moviesData.movies_cover}}">
    <p>{{moviesData.movies_desc}}</p>
</div>
